@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

:root {
    --bright-color: rgb(240, 240, 240);
    --bright-second-color: rgb(220, 220, 220);
    --bright-third-color: rgb(200, 200, 200);

    --dark-color: rgb(90, 90, 90);
    --dark-second-color: rgb(70, 70, 70);
    --dark-third-color: rgb(50, 50, 50);

    --highligt1: red;
    --highlight2: orange;
    --highlight3: green;

}

/* link yet to implement */


button {
  font: inherit;
  background-color: var(--bright-second-color);
  border: 0;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.1s ease;
  cursor: pointer;

  img {
    height:max-content;
    vertical-align: middle;
    
    padding-right: 0.375em;
  }
}
button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}


nav {
    background-color: var(--dark-color);

    display: flex;
    flex-direction: row;
    align-content: center;

    height: fit-content;

    .log {

        height: fit-content;

        padding: 20px;

    }
}

.main {

    background-color: var(--dark-second-color);

    display: flex;

    flex-direction: column;
    align-items: center;

    padding-bottom: 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 20px;
        margin: 20px;
    }

    
}




footer{

    background-color: var(--dark-second-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    img{
      width: 20px;

      margin: 3px;

      vertical-align:text-bottom;
    }
}